Flask==0.10.1
Flask-Assets==0.9
Flask-Login==0.2.11
Jinja2==2.7.2
MarkupSafe==0.23
SQLAlchemy==0.9.4
Werkzeug==0.9.4
argparse==1.2.1
bcrypt==1.0.2
cffi==0.8.2
cssmin==0.2.0
distribute==0.6.24
gunicorn==18.0
itsdangerous==0.24
jsmin==2.0.9
psycopg2==2.5.3
pycparser==2.10
webassets==0.9
wsgiref==0.1.2
