{% extends "base.html" %}
{% block content %}
  <div class="row">
        <div class="col-md-6 col-md-offset-1">

            <p>Her kan du opprette en profil på MineTurer. Bare fyll inn 
               informasjonen under og trykk "opprett bruker, så blir du logget 
               rett inn med den nye brukeren din.
           </p>

            <form action="" method=post class="form-horizontal" role="form">  
                {% include("user_form.html") %}    
                <button class="btn btn-primary" type="submit" id="register">
                    Opprett bruker
                </button>
            </form>

            <p>OBS: Det finnes (enda) ikke noen metode for å resette glemt 
                passord (og passord lagres salta og hasha), så pass på å huske 
                passordet du velger (du får det heller ikke på mail).
            </p>

        </div> 
    </div> 
{% endblock %}