{% extends "base.html" %}

{% block css %}
{% assets "triplist_css" %}    
      <link href="{{ ASSET_URL }}" rel="stylesheet">
      {% endassets %}
{% endblock %}

{% block js %}
  {% assets "triplist_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script type="text/javascript">

    (function () {
      var trips = new MT.Trips({{trips | safe}} , {requirePosition: true});

      $('#triplist').html(
        new MT.TripListView({collection: trips}).render().$el
      );
      
      MT.createMap($('.map'), trips);

    }());

  </script>

{% endblock %}

{% block content %}
<div class="row">
    <div id="triplist" class="col-md-3">    
</div>
<div class="col-md-9">
    <div class="map"></div>
</div>
{% endblock %}

{% block templates %}
{{ super() }} 

<script type="text/template" id="triplistitem_template">
    <a href="#<%= id %>" class="list-group-item trip-item <%= type%>">        
        <h4 class="list-group-item-heading"><%= title %></h4>
        <p class="list-group-item-text"><%= date %></p>  
    </a>
</script>

{% endblock %}