{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    <div class="list-group">

      <a href="#" class="list-group-item trip-item nordicski">        
        <h4 class="list-group-item-heading">Tittel 1, kort</h4>
        <p class="list-group-item-text">2. mai 2014</p>  
      </a>
      <a href="#" class="list-group-item trip-item nordicski">        
        <h4 class="list-group-item-heading">Tittel 3</h4>
        <p class="list-group-item-text">20. mai 2014</p>  
      </a>

    </div>

    
  </div>
  <div class="col-md-9">
    <div class="map">
    </div>
  </div>
{% endblock %}