{% extends "base.html" %}

{% block css %}
    {% assets "map_css" %}    
    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
{% endblock %}

{% block js %}
  {% assets "triplist_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script type="text/javascript">
    (function () {
        var trips = new MT.Trips({{trips | safe}} , {requirePosition: true});

        $('#triplist_container').html(
            new MT.TripListView({collection: trips}).render().$el
        );
      
        MT.createListMap($('.map'), trips);

        new MT.Scroller({el: $('#tripcolumn')}).render();

    }());    
  </script>

{% endblock %}

{% block content %}
<div class="row">
    <div id="tripcolumn" class="col-md-3">
        <div id="triplist_container"></div>  
        <div class="text-center">
            <div class="btn-group">
                <button id="newer" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-up"></span> Nyere
                </button>        
                <button id="older" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-down"></span> Eldre
                </button>        
            </div>
        </div>
    </div>
    <div class="col-md-9" style="position: relative;">
        <div class="map"></div>
    </div>
</div>
{% endblock %}

{% block templates %}
{{ super() }} 

<script type="text/template" id="triplistitem_template">
    <a href="/trips/<%= id %>" class="list-group-item trip-item <%= type%>">        
        <h4 class="list-group-item-heading"><%= title %></h4>
        <p class="list-group-item-text"><%= date %></p>  
    </a>
</script>

{% endblock %}