<div class="row">
            <div class="col-md-6">
                <h4>Tidsbruk</h4>
                <table class="table table-condensed tripstats">
                    <tr>
                        <th>Starttid</th>
                        <td>{{trip.stats.start | strftime('D.MM.YYYY, kl HH:mm')}}</th>
                    </tr>
                    <tr>
                        <th>Slutttid</th>
                        <td>{{trip.stats.stop | strftime('D.MM.YYYY, kl HH:mm')}}</th>
                    </tr>
                    <tr>
                        <th>Total tid</th>
                        <td>{{trip.stats.total_time | format_timedelta}}</th>
                    </tr>
                    <tr>
                        <th>Aktiv tid</th>
                        <td>{{trip.stats.active_time | format_timedelta}}</th>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h4>Lengde</h4>
                <table class="table table-condensed  tripstats">
                    <tr>
                        <th>Distanse (2d)</th>
                        <td>{{trip.stats.distance_2d | display_length}}</td>
                    </tr>
                    <tr>
                        <th>Distanse (3d)</th>
                        <td>{{trip.stats.distance_3d | display_length}}</td>
                    </tr>
                    <tr>
                        <th>Snittfart</th>
                        <td>{{trip.stats.avg_speed  | display_speed}}</td>
                    </tr>
                    <tr>
                        <th>Snittfart uten pauser</th>
                        <td>{{trip.stats.avg_moving_speed  | display_speed}}</td>
                    </tr>
                </table>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Type terreng</h4>    
                <table class="table table-condensed tripstats">
                    <tr>
                        <th>Oppstigning</th>
                        <td>
                            {{trip.stats.distance_asc | display_length}},
                            {{trip.stats.asc_time | format_timedelta}},
                            {{trip.stats.asc_speed | display_speed}}
                        </th>
                    </tr>
                    <tr>
                        <th>Nedstigning</th>
                        <td>
                            {{trip.stats.distance_desc | display_length}},
                            {{trip.stats.desc_time | format_timedelta}},
                            {{trip.stats.desc_speed | display_speed}}
                        </th>
                    </tr>
                    <tr>
                        <th>Flatt terreng</th>
                        <td>
                            {{trip.stats.distance_flat | display_length}},
                            {{trip.stats.flat_time | format_timedelta}},
                            {{trip.stats.flat_speed | display_speed}}
                        </th>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h4>Høyde</h4>
                <table class="table table-condensed tripstats">
                    <tr>
                        <th>Maks høyde</th>
                        <td>{{trip.stats.max_height | round(2)}} m.o.h.</td>
                    </tr>
                    <tr>
                        <th>Min høyde</th>
                        <td>{{trip.stats.min_height | round(2)}} m.o.h.</td>
                    </tr>
                    <tr>
                        <th>Total oppstigning</th>
                        <td>{{trip.stats.total_ascent | round(2)}} m</td>
                    </tr>
                    <tr>
                        <th>Total nedstigning</th>
                        <td>{{trip.stats.total_descent | round(2)}} m</td>
                    </tr>
                    <tr>
                        <th>Høydeforskjell</th>
                        <td>{{trip.stats.elev_diff  | round(2)}} m</td>
                    </tr>
                </table>                
            </div>
        </div>        