
/* ---------------------------------------------------------------- */
/*    Generelle elementer                                           */
/* ---------------------------------------------------------------- */


body {
    margin-top: 30px;
    background-color: #2b2929;    
}

div.container {
    padding: 0;
    background-color: white;  
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* header */

div.header {    
    background-color: #eaeae6;
    font-weight: lighter;  
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.navbar {
    min-height: 100px;
}

.navbar-default {
    background-color: #EAEAE6;
}

#header-buttons {
    margin-top: 20px;
}

/* end header */

/* bootstrap override */
.navbar {
    margin-bottom: 0;
}

.dl-horizontal dt {
    clear: left;
    float: left;
    text-align: left;
    width: 130px;
    overflow: visible;
    white-space: normal;
}

.dl-horizontal dd {
    margin-left: 110px;
}

/* end bootstrap override */

/* buttons */
.btn-ok, .btn-alert {
    border: 0;
}

.btn-ok:hover {
    background-color: #6f9b48;
    color: white;
}

.btn-alert:hover {
    background-color: #D9534F;
    color: white;
}

.btn-mineturer, .btn-mineturer:hover {
    background-color: #6f9b48;
    border: 0;
    color: white;
}

div.content {
    padding: 10px;
}

div.footer {
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    font-size: 80%;
    text-align: center;
}


/*trip detail*/

table.tripstats td {
    text-align: right;
}

.tripactions {
    background-color: #F5F5F5;
    border-radius: 4px;
    list-style: none outside none;
    margin-bottom: 20px;
    padding: 8px 15px;
}

.tripactions > li {
    display: inline-block;
    margin-right: 15px;    
}

.tripactions a {
    color:  #333333;
}

/*end trip detail*/

/*triplist*/

#triplist_container {
    overflow: hidden;
    height: 555px;
}

.triplist > a:not(:last-child) { 
    margin-bottom: 10px;
}

.list-group-item {
    border-radius: 4px;    
}

.trip-item {
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: 5px;
}

.tripheader {
    padding-left: 45px;
    background-repeat: no-repeat;
    background-position: 5px;   
}

.highlighted {
    background-color: #f5f5f5;
}

.nordicski {   
    background-image: url(../../images/icons/nordicski_square.png);
}
.atv {   
    background-image: url(../../images/icons/atv_square.png);
}
.car {   
    background-image: url(../../images/icons/car_square.png);
}
.cycling {   
    background-image: url(../../images/icons/cycling_square.png);
}
.default {   
    background-image: url(../../images/icons/default_square.png);
}
.hiking {   
    background-image: url(../../images/icons/hiking_square.png);
}
.jogging {   
    background-image: url(../../images/icons/jogging_square.png);
}
.motorbike {   
    background-image: url(../../images/icons/motorbike_square.png);
}
.rollerskate {   
    background-image: url(../../images/icons/rollerskate_square.png);
}
.snowboarding {   
    background-image: url(../../images/icons/snowboarding_square.png);
}
.snowshoeing {   
    background-image: url(../../images/icons/snowshoeing_square.png);
}
.swimming {   
    background-image: url(../../images/icons/swimming_square.png);
}
.walking {   
    background-image: url(../../images/icons/walking_square.png);
}

.footer a {
    color: white;
}

/*kart */

.map {
    background: #F8F8F8;
    min-height: 600px;
    border-radius: 6px;
}

/* magi */
.text_green {
    color: #6f9b48;
}
.smallhead {
    font-size: 60%;
}

a.title-link {
    color: #000;
    font-weight: bold;
}