
/* ---------------------------------------------------------------- */
/*    Generelle elementer                                           */
/* ---------------------------------------------------------------- */


body {
    margin-top: 30px;
    background-color: #2b2929;    
}

div.header {    
  background-color: #eaeae6;
  font-weight: lighter;  
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.navbar {
  min-height: 100px;
}

#header-buttons {
  margin-top: 20px;
}

div.container {
  padding: 0;
  background-color: white;  
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

div.content {
  padding: 10px;
}

div.footer {
  margin-top: 10px;
  color: white;
  font-size: 80%;
  text-align: center;
}

/*triplist*/

.trip-item {
  padding-left: 50px;
}

.nordicski {  
  background-image: url(http://www.mineturer.org/GpxUpload/gfx/icons/nordicski.png);
  background-repeat: no-repeat;
  background-position: 5px;
}

.footer a {
  color: white;
}

/*kart */

.map {
  background: #F8F8F8;
  min-height: 500px;
  border-radius: 6px;
}

/* magi */
.text_green {
  color: #6f9b48;
}
.smallhead {
  font-size: 60%;
}