# Environment file used by foreman

# Ensure output is written to stdout
PYTHONUNBUFFERED=true

#the database url
DATABASE_URL=postgresql://{{database.username}}:{{database.password}}@localhost:5432/{{database.name}}